body {
    font-family: Arial, sans-serif;
    margin: 0;  
    padding: 0;
    background-color:#fff;
    background-image: url(html\img\logo.png);
    direction: rtl; /* ضبط الاتجاه الافتراضي للنص */
    unicode-bidi:embed; /* للتعامل مع النصوص الثنائية الاتجاه */
}

header {
    background: #fff;
    color: #c1a6ed;
    padding: 2px ;
    text-align: center;
}

nav ul {
    list-style:square;
    padding: 0;
    background: #7342C4;
    text-align: center;
        /* direction: rtl; */

}

nav ul li {
    display: block;
    text-align: right;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: darkmagenta;
    
}

section {
    padding: 20px;
    background-image: url('img/logo.png');
    background-size: cover;
    /* background-image: url(img\logo.png); */
     background: #fff; 
    margin-bottom: 20px;
}

footer {
    background: #7342C4;
    color: #fff;
    text-align: center;
    padding: 6 px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #7342C4;
}

.horizontal-menu li {
    float: right;
}

.horizontal-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu li a:hover {
    background-color: #111;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    direction: rtl;
}

table, th, td {
    border: 1px solid #7342C4;
    text-align: right;
}

th, td {
    padding: 12px;
    text-align: right;  
}

th {
    background-color: #f2f2f2;
}
pre{
    text-align: left;
    direction: ltr;}
.bidi {
    direction: rtl;
    unicode-bidi: embed;
}

.ltr {
    direction: ltr;
    unicode-bidi: embed;
}



/* ///////lists */

  